{% extends "base.html" %}

{% load static %}

{% block title %}
Submit Final Project | RevTech
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/projects.css' %}">

<section class="project-form-page">

<div class="project-form-header">

    <span>FINAL PROJECT</span>

    <h1>
        Submit your project
    </h1>

    <p>
        Showcase what you built during your RevTech
        learning journey.
    </p>

    <p>
        <strong>Cohort:</strong>
        {{ cohort.name }}
    </p>

</div>


<form
    method="POST"
    enctype="multipart/form-data"
    class="project-form"
>

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group">

        <label>
            Project Title
        </label>

        {{ form.title }}

        {{ form.title.errors }}

    </div>


    <div class="form-group">

        <label>
            Project Description
        </label>

        {{ form.description }}

        {{ form.description.errors }}

    </div>


    <div class="form-group">

        <label>
            Technologies Used
        </label>

        {{ form.technologies }}

        {{ form.technologies.errors }}

    </div>


    <div class="form-group">

        <label>
            GitHub Repository
        </label>

        {{ form.github_url }}

        {{ form.github_url.errors }}

    </div>


    <div class="form-group">

        <label>
            Live Project
        </label>

        {{ form.live_url }}

        {{ form.live_url.errors }}

    </div>


    <div class="form-group">

        <label>
            Project Screenshots
        </label>

        {{ image_form.images }}

        {{ image_form.images.errors }}

        <small>
            Upload screenshots showing important parts
            of your project.
        </small>

    </div>


    <button type="submit">
        Submit Project
    </button>

</form>


</section>

{% endblock %}
