# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db