{% extends "base.html" %}

{% block title %}
    Password Changed | RevTech Institute
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-header">

            <span class="section-label">
                RevTech Institute
            </span>

            <h1>
                Password changed
            </h1>

            <p>
                Your password has been successfully updated.
            </p>

        </div>

        <div class="auth-card">

            <p>
                You can now log in using your new password.
            </p>

            <a
                href="{% url 'login' %}"
                class="primary-button auth-button"
            >
                Login
            </a>

        </div>

    </div>

</section>

{% endblock %}